
# streamlit
# openai
# python-dotenv
# pypdf








# fastapi
# uvicorn
# sqlalchemy
# psycopg2-binary
# python-dotenv
# python-multipart
# bcrypt

# openai

# langchain
# langchain-openai
# langchain-community

# faiss-cpu

# pypdf




fastapi
uvicorn
python-dotenv
openai
pypdf

langchain
langchain-community
langchain-openai

faiss-cpu

sqlalchemy
passlib[bcrypt]
python-jose[cryptography]

python-multipart